<a href="https://colab.research.google.com/github/ddelrio95/Python_Institute/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello")

hello

In [ ]:
a = int(input("enter the first number"))
b = int(input("enter the second number"))
sum = a + b
print("sum:", sum)

enter the first number5
enter the second number6
sum: 11

In [ ]:
if sum <= 10:
  print("Es menor")
else:
    print("Es mayor")

Es mayor

In [ ]:
a = int(input("Enter the number: "))
if (a % 2) == 0:
  print("The number is Even")
else:
    print("The number is Odd")

Enter the number: 44
The number is Even

In [ ]:
print("My", "name", "is", "Monty", "Python.", sep="-")

My-name-is-Monty-Python.

In [ ]:
print("    *")
print("   * *")
print("  *   *")
print(" *     *")
print("***   ***")
print("  *   *")
print("  *   *")
print("  *****")

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

In [ ]:
print("I like \"Monty Python\"")

I like "Monty Python"

In [ ]:
print('I like "Monty Python"')

I like "Monty Python"

In [ ]:
print(2+2)

4

In [ ]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)

8
8.0
8.0
8.0

In [ ]:
print(6 / 3)
print(6 / 2.5)
print(6. / 3)
print(6. / 3.)

2.0
2.4
2.0
2.0

In [ ]:
print(6//3)
print(6//3.)
print(-6.//4)
print(6.// -4)

2
2.0
-2.0
-2.0

In [ ]:
print(12. % 2)

0.0

In [ ]:
print(9 % 6 % 2.)

1.0

In [ ]:
print(2. ** 2 ** 3)

256.0

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

In [ ]:
print((2 ** 4), (2 * 4.), (2 * 4))

16 8.0 8

In [ ]:
var = 1
print(var)

1

In [ ]:
var = 1
account_balance = 1000.0
client_name = 'John Doe'
print(var, account_balance, client_name)
print(var)

1 1000.0 John Doe
1

In [ ]:
var = 1
print(var)
var = var + 1
print(var)

1
2

In [ ]:
var = 100
var = 200 + 300
print(var)

500

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

In [ ]:
john = 3
mary = 5
adam = 6
print("john, mary, adam")
total_apples = john + mary + adam
print(total_apples)

john, mary, adam
14

Shorcuts operators

In [ ]:
sheep = 2
sheep = sheep + 1
print('sheep')

sheep

In [ ]:
x *= 2

In [ ]:
sheep += 1
print('sheep')

sheep

variable = variable op expression also shown as (variable op = expression)

i = i + 2 * j   ⇒   i += 2 * j

var = var / 2   ⇒   var /= 2

rem = rem % 10   ⇒   rem %= 10

j = j - (i + var + rem)   ⇒   j -= (i + var + rem)

x = x ** 2   ⇒   x **= 2

In [ ]:
i = i + 2 * j
i += 2 * j

NameError: ignored

In [ ]:
kilometers = 12.25
miles = 7.38
ratio = 1.60934

miles_to_kilometers = miles * ratio ###
kilometers_to_miles = kilometers / ratio ###

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

In [ ]:
var = "007"
print("Agent " + var)

Agent 007

In [ ]:
a = '1'
b = '1'
print (a + b) #this is a commnet

11

Inputs

In [ ]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

Tell me anything...
cscsc
Hmm... cscsc ... Really?

In [ ]:
anything = input("Tell me anything...")
print("Hmm...", anything, "...Really?")

Tell me anything...asas
Hmm... asas ...Really?

In [ ]:
anything = input("Enter a number: ")
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

Enter a number: 4

TypeError: ignored

In [ ]:
# Testing TypeError message.

anything = int(input("Enter a number: "))
something = anything ** 2
print(anything, "to the power of 2 is", something)

Enter a number: 3
3 to the power of 2 is 9

In [ ]:
anything = float(input("Enter a number: "))
something = anything ** 2.0
print(anything, "to the power of 2 is", something)

Enter a number: 34
34.0 to the power of 2 is 1156.0

In [ ]:
leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

In [ ]:
name = input("Give me your name: ")
print("Your name is " + name)

In [ ]:
age = int(input("Enter your age: "))
if age <= 18:
  print("You are underage")
else: 
  print("The person is older")

In [ ]:
animals = ['dog', 'cat', 'bird', 'fish', 'lizard']
pet = input("Enter the type of animal: ")
if pet == 1:
print("The animal is a ")

In [ ]:
x = ("apple", "banana", "cherry")
print(type(x))

tuple

<class 'tuple'>

tuple

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))

dict

In [ ]:
x = 5
print(type(x))

int

In [ ]:

x = {"name" : "John", "age" : 36}
print(type(x))

dict

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))

list

In [ ]:
x = 20.5
print(type(x))

float

Variables

In [ ]:
x = 5
y = "john"
print(str(y))

Another way of declaring variables

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

One variable multiple values

In [ ]:
x=y=z="Orange"
print(x)
print(y)
print(z)

Unpack a collection

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)
print(fruits)

Output variables

In [ ]:
x = "Awesome"
print("Python is " + x)

In [ ]:
x = "Python is "
y = "awesome"
z = x + y

print(z)

In [ ]:
x = 5
y = 10
print(5 + 10)

Global variable

In [ ]:
x = "awesome"

def myfunction():
  print("Python is " + x)

myfunction()

Python is awesome

In [ ]:
x = "awesome"
def funct():
    x = "bad"
    print("Python is " + x)
funct()
print("Python is " + x)

Python is bad
Python is awesome

Global keyword

In [ ]:
x = "feo"
def fun():
  global x
  x = "fantastic"

fun()
print("Python is " + x)

Python is fantastic

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

In [ ]:
x = "awesome"
def myfunc():
  global x
  x = "bad"

myfunc()
print("Python is " + x)

Data type

In [13]:
x = 5
print(type(x))

<class 'int'>

In [14]:
x = "Dario"
print(type(x))

<class 'str'>

In [15]:
x = 0.03
print(type(x))

<class 'float'>

In [16]:
x = 1j
print(type(x))

<class 'complex'>

In [17]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [18]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [19]:
x = range(6)
print(type(x))

<class 'range'>

In [20]:
x = {"name": "John", "age": 36}
print(type(x))

<class 'dict'>

In [21]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

Numbers          int,       float,         complex

In [22]:
x = 1 #int
y = 0.3 #float
z = 1j #complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [23]:
x = 1 #int
y = 2.8 #float
z = 1j #complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Random numbers

In [58]:
import random
print(random.randrange(1,10))

9

Specify a variable ("Concasting")

In [61]:
x = int(1) #x will be 1
y = int(2.8) #y will be 2
z = int("3") #z will be 3
print(x)
print(y)
print(z)

1
2
3

In [63]:
x = float(1) #x will be float
y = float(2.8) #y will be float
z = float("3") #will be float
print(x)
print(y)
print(z)

print(type(x))

1.0
2.8
3.0
<class 'float'>

In [64]:
x = str("s1") #x will be string
y = str(2) #y will be string
z = str(3.0) #z will be string
print(x)
print(y)
print(z)

s1
2
3.0

In [65]:
x = '''jiswdfsnsdkfs;samdskladmsopam csamcisacsancmcxkz x asc sajascns anosi'''
print(x)

jiswdfsnsdkfs;samdskladmsopam csamcisacsancmcxkz x asc sajascns anosi

In [67]:
x = 'Hello, World'

print(x[1])

e

Looping through a string

In [69]:
for x  in "banana":
  print(x)

b
a
n
a
n
a

String length

In [70]:
a = "Hello, World!"
print(len(a))

13

Check string

In [71]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [72]:
txt = "The best things in life are free!"
print("free" not in txt)

False

In [73]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Sicing Strings

In [78]:
x = "Hellow, World!"
print(x[3:6])

low

In [83]:
x = "Hellow, World!"
print(x[:4])

Hell

In [84]:
x = "Hellow, World!"
print(x[3:])

low, World!

In [85]:
x = "Hellow, World!"
print(x[-5:-2])

orl

In [86]:
x = "Hellow, World!"
print(x.upper())

HELLOW, WORLD!

In [88]:
x = "HELLO, WORLD!"
print(x.lower())

hello, world!

Replace

In [89]:
x = "Hellow, World!"
print(x.replace("H", "J"))

Jellow, World!

Concatenation

In [95]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

String format

In [96]:
age = 36
txt = "My name is John, and I am  {}"
print(txt.format(age))

My name is John, and I am  36

In [97]:
quantity = 3
itemno = 567
pirce = 49.95
myorder = "I want {} pieces of items {} for {} dollars."
print(myorder.format(quantity, itemno, pirce))

I want 3 pieces of items 567 for 49.95 dollars.

In [98]:
quantity = 3
itemno = 567
pirce = 49.95
myorder = "I want {2} pieces of items {0} for {1} dollars."
print(myorder.format(quantity, itemno, pirce))

I want 49.95 pieces of items 3 for 567 dollars.

The list constructor

In [101]:
thislist = list(("apple", "banana", "cherry")) #double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Access Items

In [102]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [109]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-3])

apple

In [110]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [123]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Change Item value

In [124]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "orange"
print(thislist)

['apple', 'orange', 'cherry']

In [129]:
thislist = ["apple", "banana", "cherry", "kiwi","mango"]
thislist[1:3] = ["orange", "watermelon"]
print(thislist)

['apple', 'orange', 'watermelon', 'kiwi', 'mango']

In [135]:
thislist = ["apple", "banana", "cherry", "kiwi","mango"]
thislist[1:2] = ["orange", "watermelon"]
thislist.insert(2, "perro")
print(thislist)

['apple', 'orange', 'perro', 'watermelon', 'cherry', 'kiwi', 'mango']